.workingWith {
  background-color: rgb(39, 39, 39);
  padding-top: 40px;
  padding-bottom: 40px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin: 0 auto;
}
.title {
  font-size: 40px;
  text-align: center;
  /* font-weight: bold; */
  margin-bottom: 20px;
  color: white;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
