.ourServices {
    padding-top: 40px;
    padding-bottom: 40px;
}
.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.servicesList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
