.hero {
  /* max-width: 767px; */
  height: 500px;
  width: 100%;
  background-image: url(/img/hero.jpg);
  /* background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 749px 508px; */
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    min-width: 768px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}
.title {
  display: none;
}
.logo {
  width: 100%; /* Гумова ширина для мобільних */
  max-width: 300px; /* Обмежуємо розмір лого на смартфонах */
  height: auto;  
}
/* === АНІМАЦІЯ ЛОГО === */
.logo {
  opacity: 0;                    
  transform: scale(0.7) translateY(40px); 
  animation: logoAppear 1.2s forwards ease-out;
  animation-delay: 300ms;
}
/* === АНІМАЦІЯ ЛОГО 2=== */
/* .logo {
  opacity: 0;
  transform: translateY(-60px);
  animation: fadeDown 1s forwards ease-out;
  animation-delay: 200ms;
} */
 /* === АНІМАЦІЯ ЛОГО 3=== */
 /* .logo {
  opacity: 0;
  transform: scale(0.3);
  animation: logoBounce 1.4s forwards cubic-bezier(0.68, -0.55, 0.27, 1.55);
} */

/* Сама анімація */
@keyframes logoAppear {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes logoBounce {
  0%   { opacity: 0; transform: scale(0.3); }
  60%  { transform: scale(1.15); }
  100% { opacity: 1; transform: scale(1); }
}



@media (min-width: 768px) {
  .hero {
    height: 600px; /* Можна трохи збільшити висоту на великих екранах */
  }

  .logo {
    max-width: 600px; /* Збільшуємо лого для планшетів */
  }
}

/* Точка перелому для десктопів (від 1024px або 1200px) */
@media (min-width: 1024px) {
  .hero {
    height: 700px;
  }

  .logo {
    max-width: 800px; /* Максимальний розмір лого на ПК */
  }
}
