.serviceCard {
    background-color: rgb(225, 226, 226);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}