.header {
  background-color: #ffffff;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  /* position: sticky;
  top: 0;
  z-index: 1000; */
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    /* height: 80px; */
    /* max-width: 1200px; */
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
    .container {
      padding: 0 60px;
  }
}

/* Мобільне меню */
.mobileMenu {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ffffff; */
  z-index: 999;
  padding: 30px 20px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}