.header {
    background-color: white;
    /* width: 100%; */
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;    
    padding: 10px 0;
}