.footer {
  flex-shrink: 0;
}
.footerContent {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}
@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    gap: 0;
    padding: 20px 40px;
    align-items: start;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .footerContent {
    padding: 20px 60px;
    justify-content: space-around;
  }
}

.logo {
  display: none;
}
@media (min-width: 768px) {
  .logo {
    display: block;
  }
}
/* .slogan {
  font-size: 0.95rem;
  color: #aaa;
  max-width: 260px;
} */