.contacts {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
}
@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    gap: 200px;
  }
}
.contactItem {
  display: flex;
  gap: 4px;
  /* align-items: center; */
}